[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:bl4cksqu4re/bl4cksqu4re.github.io.git
